.Contact{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 10vh;
    height: 100%;
    background-color: black;
}

@media screen and (max-width: 900px) {
    .Contact{
        height: 100%;
    }
}