@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background: black;
}
a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.Btn{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: rgb(167, 56, 74);
    border: none;
    color: black;
    padding: 12px 25px;
    cursor: pointer;
}
.Btn-light{
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(255, 253, 253);
    font-weight: 400;
    padding: 10px 25px;
    cursor: pointer;
}
.Btn:hover {
    background-color: rgba(215, 255, 251, 0.2);
    color: #fff;
    transition: 0.3;
}

@media screen and (max-width: 650px){
    .Btn{
        padding: 5px 30px;
    }
    .Btn-light{
        width: 60%;
        padding: 8px 0;
        font-size: .9rem;
        text-align: center;
    }
}
