.Project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 20%;
    height: 100%;
    padding: 1rem 0;
}

.Intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.Intro p{
    margin-bottom: 4%;
}
.Projects{
    position: relative;
    display: flex;
    justify-content: space-around;
    /* margin: auto; */
    flex-wrap: wrap;
    width: 90%;
}
.Single-Project{
    position: relative;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    flex-basis: 42%;
    /* transition: transform 1s ease-in; */
}
.Single-Project img{
    position: relative;
    width: 80%;
    border-radius: 10px;
}
.Single-Project .Overlay{
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgb(167, 56, 74));
    top: 0%;
    left: 10%;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    opacity: 0;
}
.Single-Project:hover .Overlay{
    opacity: 1;
}
.Single-Project .Desc{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 20%;
    left: 10%;
    opacity: 0;
    width: 80%;
    height: 60%;
}
.Single-Project:hover .Desc{
    opacity: 1;
}
.Single-Project .Code{
    width: 30%;
    height: 30%;
}
.Single-Project .Code a{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 1.5rem .3rem .2rem 1rem;
    border-radius: 20px;

}
.Code .Icon{
    color: black;
    font-size: 2rem;
}
.Projects:hover #right{
    animation: left-to-right 1s ease-in;
}

.Project:hover #left{
    animation: right-to-left 1s ease-in;
}

@keyframes left-to-right {
    100% {
        transform: translateX(100%);
    }
}


@keyframes right-to-left {
    100% {
        transform: translateX(-100%);
    }
}

.Skills{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 47, 47);
    color: white;
    padding: 2rem 0;
    width: 100%;
}
.Skills h2{
    text-align: center;
}
.Stack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.5rem;
    width: 100%;
}
.Language{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Language img{
    width: 40%;
}
.Language h3{
    margin-left: .5rem;
    
}
@media screen and (max-width: 650px) {
    .Single-Project{
        flex-basis: 70%;
    }

    .Language img{
        width: 60%;
    }
    .Language h3{
        margin-left: .2rem;
        font-size: small;
        
    }

}